[Unit]
Description=Jottacloud (rclone)
AssertPathIsDirectory=/home/peder/jotta

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount jotta: /home/peder/jotta
ExecStop=/bin/fusermount -u /home/peder/jotta
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
