[user]
	name = Peder Korsveien
    useConfigOnly = true
	email = peder.korsveien@bekk.no
[core]
    editor = nvim
    autocrlf = input
    excludesFile = ~/.gitignore
    hooksPath = ~/.git_hooks

[user]
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCYEdnN1ziyreZdjQmx70osnY+FpbcZALZiQ6umWBv6yBPlOFX4vTcEw5JtWWyTogpdk/gW+00T6OnZAAan8EvtF1UFw1rn4AQYT3zY+z4vjcyhB06IR71TAJO28NxeUZkbtOwtPAlXkFfcsGFa+ASbrt9OhzW6p4Xqfk7qnRG4u5TsF0IG0UhIfBz7YIv9kyWaa9OS+Ls2c+AABINQP60IKfbxUMQ8kw9+vGalUG68wZdHo3kYMESRWM+DagwmNw32COV9qYNtjBX6Hk0aMi5DqWsBS7NO/Q76qMUZMX8292XASf9O6Z/a1VSeAkqd/mm8mk5n7fYQ/6jhnz6o14BESojE7TKh5yDNN5OdE+T7nhxznx8+lTId80wv+ljADkOOjgDTZbSrmxMMfdEozduXXw+qwhRcWbWbZe5Q2uXE/6kkavY/jQUe7QjjpL/7HFE4QdCJJu7AK9b7jZJ9c6o/GC3FWmDY9F6lqDSJIk372NmD5dcLezd+mOVytPMJweqjdbh3l81DATDbNDhM0BfJOGyLGS3WI9ercMAPwlRH07wur9U4F3n4oQrhDaLY0nlWjksqS3aNEYNOd5Ww4mbuRh0i08L0/3Jiim2qMqqVCVTfNaDJEA2kfG01fB8n7i3MH2c2mVeagJXaLm/SVpXUAukwikkcNo0pXWT4obylZw==

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[color]
    ui = true
[format]
    pretty = format:%C(auto,yellow)%h %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(14,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
[push]
    default = simple
    autoSetupRemote = true
[grep]
    extendRegexp = true
    lineNumber = true
[stash]
    showPatch = true
[rebase]
    autostash = true
[log]
    decorate = full
[pull]
    ff = only
[github]
    user = korsveien
[init]
    defaultBranch = main
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = calochortus-lyallii side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	prompt = false
[gpg]
	program = /opt/homebrew/bin/gpg
