[user]
    name = pederpus
    useConfigOnly = true
    email = pederpus@icloud.com
[includeIf "gitdir:~/Code/vy/"]
    path = ~/Code/vy/.gitconfig
[core]
    editor = nvim
    autocrlf = input
[color]
    ui = true
[push]
    default = simple
[grep]
    extendRegexp = true
    lineNumber = true
[stash]
    showPatch = true
[rebase]
    autostash = true
[log]
    decorate = full
[pull]
    ff = only
[github]
    user = pederpus
[init]
    defaultBranch = main
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = calochortus-lyallii side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
