window {
margin: 0px;
border: 1px solid rgb(10,132,255);
background-color: #242424;
}

#input {
margin: 5px;
border: none;
color: #dedede;
background-color: #3c3836;
}

#inner-box {
margin: 5px;
border: none;
background-color: #242424;
}

#outer-box {
margin: 5px;
border: none;
background-color: #242424;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #dedede;
}

#entry:selected {
background-color: rgb(10,132,255);
}
